---
 const personalImageAlt = "Wilmer Lopez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-indigo-500 dark:[&>p>strong]:text-indigo-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Wilmer Lopez but my friends call me Wil. I am 23 years old and I am from Costa Rica. I started programming in high school, when I was 14 years old. 
      Currently I am <strong
        >studying different programming languages and also cloud computing</strong
      >.
    </p>

    <p>
      Likewise, I constantly practice <strong>algorithms and data structures</strong> and other emphases, to improve my <strong>programming logic and problem solving</strong>.
    </p>

  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
