---
import { getExperiences } from "@/actions/getExperiences"
import ExperienceItem from "./ExperienceItem.astro"

const experiences = await getExperiences()

---

<ol class="relative mt-16">
  {
    experiences.map((experience) => (
      <li class="">
        <ExperienceItem experience={experience} />
      </li>
    ))
  }
</ol>
